

.fondo-container {
  width: 100%;
  height: 100vh;
  background-image: url('/Fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.estudiantePerfil{
 
  width: 100%;
  height: 100hv;
}

.informacionAlumno{
  margin: auto;
  border: 1px solid lightgray;
  width: 550px;
  height: 300px;
  background-color: white;
  border-radius: 3px;
  padding-right: 50px;
  
}

